body {
    background: url(./img/bg-notes.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav form {
    width: 30%;
    margin-left: 45%;
    display: inline-block;
}

nav .brand-logo img {
    width: 64px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.card {
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1), 0 3px 1px -2px rgba(0, 0, 0, 1), 0 1px 5px 0 rgba(0, 0, 0, 1);
}

td {
    padding: 0;
}

th {
    padding: 0;
    border: none;
}

.first-column {
    width: 30px;
}

.marked-items {
    position: relative;
    padding-top: 5px;
    cursor: pointer;
}

.input-field {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

.position {
    position: absolute;
}

.text {
    padding-left: 30px;
}

.btn-large {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 25px;
}

.note-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: calc(100vh - 64px);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-field input[name=title] {
    color: white;
    border-bottom: 1px solid transparent;
    font-size: 3.28rem;
}

.input-field img {
    width: 100%;
    max-width: 640px;
}

input[name=subtask] {
    color: white;
}

.small-box {
    width: 5%;
}

.small-box.right {
    color: white;
    text-align: end;
    cursor: pointer;
}

.big-box {
    width: 90%;
}

.hidden {
    display: none;
}

.line-through {
    text-decoration: line-through;
}

nav .brand-logo.right {
    padding: 8px;
}

nav .brand-logo i.material-icons {
    margin: -8px;
}
.footer-note-page {
    height: 50px;
    padding: 15px 15px;
}

.footer-note-page a {
    color: white;
    cursor: pointer;
}

.row.note-page {
    width: 100%;
}

@media (max-width: 992px) {
    #search {
        display: none;
    }

    nav .brand-logo {
        left: 94%;
    }
}

@media (max-width: 600px) {
    nav .brand-logo img {
        width: 56px;
    }

    .text.footer {
        display: none;
    }

    a .position.footer  {
        position: relative;
    }

    nav .brand-logo {
        left: 90%;
    }
}



