body {
    background: url(./img/bg-notes.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav form {
    width: 30%;
    margin-left: 45%;
    display: inline-block;
}

nav .brand-logo img {
    width: 64px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.card {
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1), 0 3px 1px -2px rgba(0, 0, 0, 1), 0 1px 5px 0 rgba(0, 0, 0, 1);
}

td {
    padding: 0;
}

th {
    padding: 0;
    border: none;
}

.first-column {
    width: 30px;
}

.marked-items {
    position: relative;
    padding-top: 5px;
    cursor: pointer;
}

.input-field {
    margin-bottom: 0;
    margin-top: 0;
}

.position {
    position: absolute;
}

.text {
    padding-left: 30px;
}

.btn-large {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 25px;
}

.modal {
    top: 15% !important;
    height: 80%;
    max-height: 80%;
    background: url(./img/joker.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}


.note-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: calc(100vh - 64px);
}

.modal .modal-footer {
    background-color: transparent;
    padding: 25px 6px 0;
}

.modal .modal-footer nav {
    background-color: transparent;
}

.modal .modal-content {
    width: 100%;
    padding-bottom: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-item {
    color: white;
    align-self: center;
}

.input-field input[name=title] {
    color: white;
    border-bottom: 1px solid transparent;
    font-size: 2.28rem;
}

input[name=subtask] {
    color: white;
}

.small-box {
    width: 5%;
}

.small-box.right {
    color: white;
    text-align: end;
    cursor: pointer;
}

.big-box {
    width: 90%;
}

.hidden {
    display: none;
}

.line-through {
    text-decoration: line-through;
}

nav .brand-logo.right {
    padding: 8px;
}

nav .brand-logo i.material-icons {
    margin: -8px;
}



